Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+\.zip)$ index.php?action=direct_dl&f=$1 [L]
RewriteCond %{HTTP_USER_AGENT} !^kodi.*$ [NC]
RewriteRule \.xml$ - [NC,F]
